@import url("https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/11.0.0/css/fabric.min.css");

body
{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
 	user-select: none;
}

nav
{
	margin: 24px;
}

iframe
{
	border: none;
	width: calc(100vw - 320px);
}

footer
{
	bottom: 0;
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin: 24px;
	position: absolute;
	width: calc(320px - 48px);
}

input[type="search"]
{
	width: 100%;
	padding: 4px;
	border: transparent;
	border-radius: 4px;
	background-color: white;
	-moz-user-select: initial;
	-webkit-user-select: initial;
	-ms-user-select: initial;
 	user-select: initial;
}

h1
{
	font-size: 68px;
}

.layout
{
	display: flex;
	flex-direction: row;
}

.sidebar
{
	width: 320px;
	height: 100vh;
	color: white;
	background-color: rgba(102, 0, 180, 1);
}

.navButton
{
	width: 100%;
	padding: 4px;
	border: 0px;
	border-radius: 4px;
	text-align: left;
	color: white;
	background-color: transparent;
}

.verticalStackPanel
{
	display: flex;
	flex-direction: column;
}

#booksList
{
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-top: 8px;
}

@media (prefers-color-scheme: dark) 
{
	body
	{
		color: white;
		background-color: #121212;
	}

	h1
	{
		color: white;
	}
}

@media (prefers-color-scheme: light) 
{
	body
	{
		color: #323130;
		background-color: white;
	}

	h1
	{
		color: #323130;
	}
}